*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.body{
    text-align: center;
    height: 100%;
    width: 100%;
    background-image: url(../Images/Backgrund.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    padding: 2% 3% 2% 3%;
}

.Glass{
    background-position: center;
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 100vh;
    width: 100%;
}


.block{
    position:relative;
    top: 20%;
}

#MyImage{
    border: 2px solid white;
    border-radius: 1px;
    height: auto;
    width: 100%;
    height: 100%;
}

.Text{
    display: inline-block;
    width: 50vh;
    height: auto;

    font-size:  2.2vh;
    font-family: Arial, Helvetica, sans-serif;

    color: white;
}


@media (orientation:landscape) and (min-width:1201px) {
    
    .block{
        position:relative;
        top: 10%;
    }
    
    .Glass{
        height: 100vh;
        width: auto;
    } 

    #MyImage{
        width: 80%;
    }

    .Text{
        width: 100%;
        font-size:  3vh;
    }
} 

@media (min-width:992px) and (max-width:1200px){
   
    .block{
        position:relative;
        top: 20vh ;
    }
    
    #MyImage{
        width: 90%;
    }

    .Text{
        width: 100%;
        font-size:  2.2vh;
    }
}

@media (orientation:landscape) and (min-width:992px) and (max-width:1200px){
   
    .block{
        position:relative;
        top: 10%;
    }

    .Glass{
        height: 100vh;
        width: auto;
    } 

    #MyImage{
        width: 80%;
    }

    .Text{
        width: 100%;
        font-size:  4vh;
    }
}


@media (min-width:769px) and (max-width:991px){
    
    .block{
        position:relative;
        top: 2%;
    }
       
    #MyImage{
        width: 80%;
    }

    .Text{
        width: 100%;
        font-size:  2.2vh;
    }
}


@media (orientation:landscape) and (min-width:769px) and (max-width:991px){

    .Glass{
        height: 100%;
        width: auto;
    } 
       
    #MyImage{
        width: 30%;
    }

    .Text{
        width: 100%;
        font-size:  4vh;
    }
}

@media (min-width:577px) and (max-width:768px){
   
    .block{
        position:relative;
        top: 2%;
    }

    #MyImage{
        width: 80%;
    }

    .Text{
        width: 100%;
        font-size:  2.4vh;
    }
}

@media (orientation:landscape) and (min-width:577px) and (max-width:768px){
    
    .block{
        position:relative;
        top: 2%;
    }

    .Glass{
        height: 100%;
        width: auto;
    }   

    #MyImage{
        width: 45%;
    }

    .Text{
        width: 100%;
        font-size:  4vh;
    }
}


@media (max-width:576px){
     
    .block{
        position:relative;
        top: 2%;
    }
    
    .Glass{
        height: 100vh;
        width: auto;
    } 

    #MyImage{
        width: 90%;
    }

    .Text{
        width: 100%;
        font-size:  2.2vh;
    }
}

@media (orientation:landscape) and (max-width:576px)
{
     
    .block{
        position:relative;
        top: 2%;
    }

    .Glass{
        height: 100%;
        width: auto;
    } 

    #MyImage{
        width: 45%;
    }

    .Text{
        width: 100%;
        font-size:  4vh;
    }
}